%h2 Clucker fans!
%div{:class=>"features"}
%p
	Clucker is a great way to connect with your friends.

%ul{:class=>"list"}
	%li You can keep updated daily activities
	%li Greet friends and loved ones
	%li Just chit chat

%h4 Copyright @ 2014 by Grace