%h1 A Simple Sample Webpage
	
%body
	=link_to image_tag(src='prosbo_hires.jpg')
	%button Login
	%input 

	%h2 Demonstrating a few HTML features
	%ul
		%li HTML is really a very simple language. 
		%li You don't really need to know much HTML to create a page. You can copy and just play around.
	
	%a{:href => 'main/Home'} Home
	%a{:href => 'main/about'} About
	%a{:href => 'main/Contact'} Contact

%h4 Copyright @ 2014, by Grace

		

